@font-face {
    font-family: Synamyn;
    src        : url("/assets/synamyn.woff") format("opentype");
}

body {
    display        : flex;
    align-items    : center;
    justify-content: center;
    font-family    : Georgia, 'Times New Roman', Times, serif;
    font-size      : 1vw;
    text-align     : center;
    align-content  : center;
    overflow       : visible;
}

svg {
    overflow: visible;
}

ul {
    list-style-type: none;
    margin         : 0;
    padding        : 0;
}

a {
    text-decoration: none;
}

.tooltip {
    position     : relative;
    display      : inline-block;
    border-bottom: 1px dotted black;
    margin       : 0;
    cursor       : pointer;
}

.tooltip .tooltiptext {
    visibility      : hidden;
    width           : 20%;
    height          : 20%;
    background-color: black;
    color           : #fff;
    text-align      : center;
    border-radius   : 6px;
    padding         : 5px 0;
    position        : fixed;
    z-index         : 1;
    top             : 42%;
    left            : 28%;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}

#video-player-div {
    z-index: 2;
}

video {
    position : absolute;
    height   : 90VH;
    right    : 0;
    top      : 5%;
    max-width: 50%;
}

iframe {
    position     : absolute;
    border       : transparent;
    border-radius: 50%;
    height       : 70VH;
    width        : 70VH;
    right        : 8%;
    top          : 15%;

}

#curtains {
    top     : 0;
    left    : 0;
    width           : 100%;
    height          : 100%;
    position        : fixed;
    background-color: black;
    pointer-events  : none;
    z-index: 1000;
}

#svgContainer {
    position: fixed;
    top     : 0;
    left    : 0;
    width   : 100%;
    height  : 100%;
}

#border {
    filter        : url(#filterCloud);
    stroke        : #666;
    fill          : #ccc;
    stroke-width  : 2%;
    stroke-opacity: 50%;
}

/* accordions */

.ui-accordion-header,
.ui-helper-reset {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.ui-accordion .ui-accordion-header {
    background-color: rgba(246, 246, 246, 0.5);
    margin          : 0;
}

.ui-accordion-header::before,
.ui-accordion-header-icon {
    display   : none !important;
    content   : none !important;
    background: none !important;
}

.accordion::after {
    filter              : url(#filterContrastText);
    opacity             : 1;
    display             : block;
    /* not using content: url() because of simple centering */
    content             : '';
    background-image    : url('/assets/under.svg');
    height              : 30%;
    width               : 100%;
    background-size     : 100% 100%;
}

.accordion:before {
    transform: scaleY(-1);
}

.accordion {
    width           : 20%;
    height          : 40%;
    border-radius   : 20px;
    /* visibility   : hidden; */
}

#accordionLeft {
    position: fixed;
    z-index: 500;
    top     : 50%;
    left    : 3%;
}

.accordion .ui-accordion-content {
    background-color: var(--white-trans-70);
    border-radius   : 15px;
    margin          : 0;
    padding         : 0;
    border          : none;
}

.accordion .ui-accordion-header-active {
    background-color: var(--teal);
    opacity         : 0.2;
}


/* end of accordions */

#noBackgroundSvg {
    visibility: collapse;
}

/* minBlackRedTrees */

#minBlackRedTrees {
    /* visibility: hidden; */
    opacity: 0;
}

#berries {
    fill: var(--red);
}

#berryTree2 {
    transform-origin: center;
    transform       : scale(0.78);

}

#berryTree2 path {
    filter: blur(5px);
}

#berryTree3 {
    transform-origin: center;
    transform       : scale(0.6, 0.55);
}

#bubbleTree {
    fill: var(--black);
}

#bubbleTree2 {
    transform-origin: center;
    transform       : scale(-0.8, 0.8);
}

/* end of minBlackRedTrees */

/* plaid */
.borderH {
    fill:
        url(#borderH);
}

.borderV {
    fill:
        url(#borderV);
}

.outerV {
    fill:
        url(#outerV);
}

.outerH {
    fill:
        url(#outerH);
}

.centerH {
    fill:
        url(#centerH);
}

.centerV {
    fill:
        url(#centerV);
}

.plaidBorder {
    /* fill: #e5e5e5; */
    fill: white;
}

.plaidOuter {
    /* fill: #60673d; */
    /* fill:var(--emerald); */
    fill: green;
}

.plaidCenter {
    /* fill: #3b0b3b; */
    /* fill: var(--purple); */
    fill: purple;
}

/* end of plaid */
/* tree border */
.leaves {
    stroke      : black;
    stroke-width: 2;
}

#borders path {
    stroke          : black;
    stroke-width    : 5;
    stroke-dasharray: 27 35 45 55 72 85 100 85 72 55 45 35;
}

#halo {
    opacity: 0.75;
    fill   : var(--yellow-fade);
}

#sun {
    fill: var(--yellow);
}

#ground {
    fill: var(--green-light);
}

#borderIn {
    fill: var(--red);
}

#borderMid {
    fill: var(--teal);
}

#borderOut {
    fill: var(--blue-dark);
}

.wood {
    fill: var(--vermillion);
}

.leaves {
    fill: var(--green);
}

.leavesDark {
    fill: var(--green-brown);
}

/* end of tree thing */

/* portrait */
@media screen and (orientation: portrait) {

    body {
        font-size: 2vw;
    }

    .tooltiptext {
        display: none;
    }

    #sfcBanner {
        font-size: 10vw;
        top      : 10%
    }

    .accordion {
        width : 50%;
        height: 75%;
    }

    #accordionLeft {
        top : 35%;
        left: 25%;
    }

    .accordion::after,
    .accordion::before {
        opacity: 1;
        display: none;

    }

    #borderTreeMobileBlinder {
        opacity: 0;
    }
}