body {
    --white    : hsl(67, 100%, 98%);
    --pink     : hsl(338, 84%, 58%);
    --red      : hsl(328, 74%, 42%);
    --orange   : hsl(16, 80%, 55%);
    --yellow   : hsl(57, 96%, 51%);
    --green    : hsl(149, 96%, 29%);
    --teal     : hsl(166, 41%, 50%);
    --blue     : hsl(208, 59%, 34%);
    --blue-dark: hsl(256, 67%, 16%);
    --purple   : hsl(273, 52%, 37%);
}